body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f8ff;
    padding: 50px;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}
